<!-- contact.njk USE THIS FORM TO IMPLETEMENT CONTACT (PRODUCTION CONTACT FORM)-->
{% extends "layouts/_layout.njk" %}
{% set title = "Contact" %}
{% set navbarFull = true %}

{% block content %}
<div class="container" style="margin-top:200px;">
    <form action="" id="contactForm">

        <div class="inputBox">
            <input type="text" id="firstname" placeholder="First Name" />
        </div>
        <div class="inputBox">
            <input type="text" id="lastname" placeholder="Last Name" />
        </div>
        <div class="inputBox">
            <input type="text" id="phone" placeholder="Phone Number" />
        </div>
        <div class="inputBox">
            <input type="email" id="email" placeholder="Email" />
        </div>
        <div class="inputBox">
            <textarea id="msgcontent" cols="30" rows="10" placeholder="Message"></textarea>
        </div>

        <div class="inputBox">
            <button type="submit">Submit</button>
        </div>

    </form>
</div>

<script type="module">
import { initializeApp } from "https://www.gstatic.com/firebasejs/9.9.1/firebase-app.js";
import { getFirestore, collection, addDoc } from "https://www.gstatic.com/firebasejs/9.9.1/firebase-firestore.js";

const firebaseConfig = {
    apiKey: "AIzaSyDxBBkjzK_OVDZGuTM3qXied6Zii2sV0qM",
    authDomain: "elpueblo-switch.firebaseapp.com",
    databaseURL: "https://elpueblo-switch-default-rtdb.firebaseio.com",
    projectId: "elpueblo-switch",
    storageBucket: "elpueblo-switch.appspot.com",
    messagingSenderId: "584570551282",
    appId: "1:584570551282:web:84aca1ae6f3b52c874096b"
};

    const app = initializeApp(firebaseConfig);
    const firestore = getFirestore(app);

    document.getElementById("contactForm").addEventListener("submit", submitForm);

function submitForm(e) {
        e.preventDefault();
        var firstname = getElementVal("firstname");
        var lastname = getElementVal("lastname");
        var phone = getElementVal("phone");
        var email = getElementVal("email");
        var msgcontent = getElementVal("msgcontent");


        saveMessages(firstname, lastname, phone, email, msgcontent)
            .then(() => {
                // Redirect to a new page after successful submission
                window.location.href = 'index.html'; // Replace with your desired URL
            })
            .catch((error) => {
                console.error("Error adding document: ", error);
            });
        document.getElementById("contactForm").reset();
    }

    function saveMessages(firstname, lastname, phone, email, msgcontent){
        return addDoc(collection(firestore, "contactForm"), {
            firstname: firstname,
            lastname: lastname,
            phone: phone,
            email: email,
            msgcontent: msgcontent, 
            timestamp: new Date()  
        });
    }

const getElementVal = (id) => {
return document.getElementById(id).value;
    };
</script>

{% endblock content %}