{% extends "layouts/_layout.njk" %}
{% set title = "Images" %}
{% set logoColor = "#ffffff" %}
{% set navbarDark = true %}
{% set navbarFull = true %}

{% block content %}

 
<p style="margin-top:500px;">test</p></body>


{% endblock content %}
 