//
// Utilities
//

$utilities: (
    "viewport-width": (
        property: width,
        class: vw,
        values: (
            25: 25vw,
            50: 50vw,
            75: 75vw,
            100: 100vw,
            auto: auto
        )
    ),
    "min-viewport-width": (
        property: min-width,
        class: min-vw,
        values: (
            25: 25vw,
            50: 50vw,
            75: 75vw,
            100: 100vw,
            auto: auto
        )
    ),
    "viewport-height": (
        property: height,
        class: vh,
        values: (
            25: 25vh,
            50: 50vh,
            75: 75vh,
            100: 100vh,
            auto: auto
        )
    ),
    "min-viewport-height": (
        property: min-height,
        class: min-vh,
        values: (
            25: 25vh,
            50: 50vh,
            75: 75vh,
            100: 100vh,
            auto: auto
        )
    ),
    "opacity": (
        property: opacity,
        values: $opacity-values
    ),
    "z-index": (
        property: z-index,
        values: $zindex-values
    )
);

@import "utilities/svg";
@import "utilities/text";
@import "utilities/background";
@import "utilities/image";
@import "utilities/position";
@import "utilities/shape";
@import "utilities/animation";
@import "utilities/overlay";