/**
 * Define you custome style here.
 * It will be merged with the default style.
 */

[data-typed] {
  color: rgb(255, 0, 0);

}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #000000;
  --bs-btn-border-color: #ff0037;
}

h1 {
  line-height: 1.2;
}

.display-2 {
  font-weight: 900;
  line-height: 1.2;
}